.container {
    width: 80%;
    margin: 0 auto;
    border: 10px solid #9f0627;
    display: grid;
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 3fr 1fr;
    gap: 10px 30px;
    grid-auto-rows: 100px;
    /* Espaço entre linhas e colunas */
    /* 1fr 1fr 1fr 1fr */
}

.item {
    padding: 10px;
    background-color: #fe6f8e;
    color: white;
    border: 10px solid #ff315e;
}
